.social {
 display: inline-block;
    right: 0px;
    width: auto;
    height: auto;
    ul {
        margin: 0px !important;
        list-style: none;
        li {
            text-align: center;
            display: inline-block;
            a {
                display: block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                font-size: 24px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.add2 {
    margin-top: 20px;
    span {
        line-height: 38px;
        display: inline-block;
        width: 65%;
        text-align: center;
        color:#6E6D6D;
        font-size: 14px;
    }
    height: 38px;
    width: 100%;
    button {
        background: #FBE503; 
     }
    button:disabled,
    button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    }
}

.menu-container{
    position: fixed;
    left: 0;
}

.right-panel{
    margin-left: 25%;
}

