<div class="wrapFlex">
    <header class="header">
        <!--header-->
        <app-header></app-header><!--/header-->
    </header>
    <main class="pb-5">   
        <div class="container-fluid ">
        <div class="row">
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-12 col-md-3 pr-0">

                            <div class="row">
                                <div class="col-12">
                                    <!--menu-->
                                    <app-menu></app-menu><!--/menu-->                     
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="contenido">
                                <router-outlet> </router-outlet>
                            </div>
                        </div>
                    </div>
                </div> 
          
        </div>
        </div>
    </main>
    <!--footer-->
    <footer> 
        <div class="container-fluid">
            <div class="row mt-5 mb-5">
                <div class="col-6 text-right">
                    <img src="assets/logo-reliper-blanco.png">
                    <p>
                        © Copyright 2016 - Reliper Comercial Ltda.
                    </p>
                    <div class="social">
                        <ul class="p-0">
                            <li>
                                <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 text-left">
                    <ul>
                        <li>Quienes somos</li>
                        <li>Sucursales</li>
                        <li>Políticas de Garantía</li>
                        <li>Trabaja con nosotros</li>
                        <li>Contáctanos</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--footer-->
</div>

 <!-- Modal -->
 <div class="modal fade" id="cotizadorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content detailsProduct">
        <div class="modal-header d-none">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
   
                <p>4 ITEMS</p>
                <div class="boxItems">
                    <div class="item">
                        <div class="row"> 
                            <div class="col-4">
                                
                                <div class="boxImg">
                                    <img src="assets/products/image-2.png">
                                </div>
                            </div>
                            <div class="col-5">
                                <p>Linterna</p>
                                <ngx-number-spinner
                                
                                [value]="0"
                                (change)="change($event)" 
                                [min]="0">
                                </ngx-number-spinner>

                            
                            </div>
                            <div class="col-3">
                                <div class="price">
                                    $15.990
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" >
                        <div class="row"> 
                            <div class="col-4">
                                
                                <div class="boxImg">
                                    <img src="assets/products/image-2.png">
                                </div>
                            </div>
                            <div class="col-5">
                                <p>Linterna</p>
                                <ngx-number-spinner
                                
                                [value]="0"
                                (change)="change($event)" 
                                [min]="0">
                                </ngx-number-spinner>

                            
                            </div>
                            <div class="col-3">
                                <div class="price">
                                    $15.990
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row"> 
                            <div class="col-4">
                                
                                <div class="boxImg">
                                    <img src="assets/products/image-2.png">
                                </div>
                            </div>
                            <div class="col-5">
                                <p>Linterna</p>
                                <ngx-number-spinner
                                
                                [value]="0"
                                (change)="change($event)" 
                                [min]="0">
                                </ngx-number-spinner>

                            
                            </div>
                            <div class="col-3">
                                <div class="price">
                                    $15.990
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row"> 
                            <div class="col-4">
                                
                                <div class="boxImg">
                                    <img src="assets/products/image-2.png">
                                </div>
                            </div>
                            <div class="col-5">
                                <p>Linterna</p>
                                <ngx-number-spinner
                                
                                [value]="0"
                                (change)="change($event)" 
                                [min]="0">
                                </ngx-number-spinner>

                            
                            </div>
                            <div class="col-3">
                                <div class="price">
                                    $15.990
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-right mt-4">Total: <b>$469.990</b></p>
            </div>
        <div class="modal-footer text-center">
            <button type="button" class="btn btn-primary  m-auto" data-dismiss="modal">
              Contactar con ventas
            </button>
        </div>
      </div>
    </div>
  </div>


