<div class="wrapFlex">
    <header class="header">
        <!--header-->
        <app-header></app-header><!--/header-->
    </header>
    <main class="pb-5">   
        <div class="container-fluid ">
        <div class="row">
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-12 col-md-3 pr-0 menu-container">

                            <div class="row">
                                <div class="col-12">
                                    <!--menu-->
                                    <app-menu></app-menu><!--/menu-->                     
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 right-panel">
                            <div class="contenido">
                                <router-outlet> </router-outlet>
                            </div>
                        </div>
                    </div>
                </div> 
          
        </div>
        </div>
    </main>
    <!--footer-->
    <footer> 
        <div class="container-fluid">
            <div class="row mt-5 mb-5">
                <div class="col-6 text-right">
                    <img src="assets/logo-reliper-blanco.png">
                    <p>
                        © Copyright 2016 - Reliper Comercial Ltda.
                    </p>
                    <div class="social">
                        <ul class="p-0">
                            <li>
                                <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 text-left">
                    <ul>
                        <li>Quienes somos</li>
                        <li>Sucursales</li>
                        <li>Políticas de Garantía</li>
                        <li>Trabaja con nosotros</li>
                        <li>Contáctanos</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--footer-->
</div>





