.social {
    display: inline-block;
       right: 0px;
       width: auto;
       height: auto;
       ul {
           margin: 0px !important;
           list-style: none;
           li {
               text-align: center;
               display: inline-block;
               a {
                   display: block;
                   width: 40px;
                   height: 40px;
                   line-height: 40px;
                   color: #fff;
                   font-size: 24px;
                   &:hover {
                       text-decoration: none;
                   }
               }
           }
       }
   }

@media screen and (max-width: 992px) {
    ul {
        margin-top: 20px;
        padding-left: 0px;
    }
}