   <!--footer-->
   <footer class=""> 
    <div class="container-fluid">
        <div class="row pt-3 pb-4">
            <div class="col-12 col-md-12 text-right">
                <p class="title text-center">Nuestras sucursales</p>
            </div>
            <div class="col-12 col-md-9 text-right firstCol">
                <div class="row">
                    <div class="col-12">
                        <p class="title text-left" style="padding-left: 36px;">CHILE</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="sucursales">
                          
                            <li>
                                <span>Antofagasta</span>
                                <span>Avenida Rendic 5905. </span>
                                <span>Teléfono (55)2530480</span>
                            </li>
                            <li>
                                <span>Calama</span>
                                <span>Avenida Grecia 1961. </span>
                                <span>Teléfono (55)2530470</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="sucursales">
                            <li>
                                <span>Copiapó</span>
                                <span>Puerta Sur Local A-12.</span> 
                                <span>Teléfono (52)2350290 </span>                               
                            </li>
                            <li>
                                <span>Santiago</span>
                                <span>Lo Boza 386, Pudahuel.</span>
                                <span>Teléfono (2)25862760</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="sucursales">
                            <li>
                                <span>Iquique</span>
                                <span>Calle Zegers 1720.</span>
                                <span>Teléfono (57)2361160</span>                               
                            </li>
                            <li>
                                <span>Concepción</span>
                                <span>Camino Coronel Km. 10 Local 18-B.</span>  
                                <span>Teléfono (41) 2568155</span>                                                             
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="sucursales">
                            <li>
                                <span>Fábrica</span>
                                <span>Vespucio Interior 200, 
                                Quilicura, Santiago. </span>
                                <span>Teléfono (2)24902500   </span>                             
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 text-left">
                <div class="col-12 col-md-12 text-right">
                    <p class="title text-left" style="padding-left: 26px;">Perú</p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="sucursales">
                            <li>
                                <span>Ilo</span>
                                <span>Pampa de Palo Km. 7,6 
Costanera Sur, Lote 5  ZED ILO</span>
<span>Teléfono :(53) 496 648 </span>
<span>Móvil: +51 934 418 524</span>
                                
                            </li>
                            <li>
                                <span>Lima, Perú</span>
                                <span>Móvil +51 971 147 721.</span>

                            </li>
                        </ul>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</footer><!--footer-->


   <!--footer-->
   <footer class="d-none"> 
    <div class="container-fluid">
        <div class="row pt-5 pb-3">

            <div class="col-12 col-md-6 text-right">
                <img src="assets/logo-reliper-blanco.png">
                <p>
                    © Copyright 2016 - Reliper Comercial Ltda.
                </p>
                <div class="social">
                    <ul class="p-0">
                        <li>
                            <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 text-left">
                <ul>
                    <li>Quienes somos</li>
                    <li>Sucursales</li>
                    <li>Políticas de Garantía</li>
                    <li>Trabaja con nosotros</li>
                    <li>Contáctanos</li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--footer-->