.sucursales {
    li {
        text-align: left;
        &.subtitle {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
        }
        font-size: 14px;
        span {
            display: block;
        }
    }
} 

.firstCol{
    position: relative;
    &:before{
        width: 10px;
        content: "";
        position: absolute;
        border-right: 1px solid #fff;
        right: -20px;
        top: 0px;
        height: 100%;
    }
}

.title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.social {
    display: inline-block;
       right: 0px;
       width: auto;
       height: auto;
       ul {
           margin: 0px !important;
           list-style: none;
           li {
               text-align: center;
               display: inline-block;
               a {
                   display: block;
                   width: 40px;
                   height: 40px;
                   line-height: 40px;
                   color: #fff;
                   font-size: 24px;
                   &:hover {
                       text-decoration: none;
                   }
               }
           }
       }
   }

@media screen and (max-width: 992px) {
    ul {
        margin-top: 20px;
        padding-left: 0px;
    }
}