.active{
    border: 2px solid #000099;
}

ul{
    
}

.btn-back{
    padding: 8px;
}

.container-categories{
    padding-left: 15px;
    padding-right: 15px;
}

.container-categories{
    height: 83vh;
    overflow: auto;
    overflow-x: scroll;
}
