
        <div class="container-fluid p-0 pr-3">
            <div class="row d-flex align-items-center">
                <div class="col-4 pl-0 logo">
                    <a routerLink="/">
                        <img class="pt-1" src="assets/logo.svg">
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <form [formGroup]="formSearch" >
                        <div class="input-group mt-2 buscador">
                            <input type="text" class="form-control bg-grey font-size-13 height-45" 
                            placeholder="Busca tus productos aquí" aria-label="Recipient's username" 
                            aria-describedby="button-addon2" formControlName="search">
                            <button 
                            (click)="search()"
                            class="btn btn-primary pl-4 pr-4 font-size-13 height-45 border-radius-right" type="button" id="button-addon2">
                                Buscar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <app-cart></app-cart>
                </div>
            </div>
        </div>
  