
<div class="container-fluid p-0 pr-3 pl-3 pl-md-0">
    <div class="row d-flex align-items-center">
        <div class="col-6 col-md-4 pl-0 logo">
            <a routerLink="/">
                <img class="pt-1" src="assets/logo.svg">
            </a>
        </div>
        <div class="col-12 col-md-5 order-3 order-sm-2 pl-3 pl-md-4">
            <form [formGroup]="formSearch" >
                <div class="input-group mt-2 buscador ">
                    <input type="search" (keyup.enter)="search()"  class="form-control bg-grey font-size-13 height-45" 
                    placeholder="Busca tus productos aquí" list="datalistOptions" aria-label="Recipient's search" 
                    aria-describedby="button-addon2" formControlName="search">
                    <datalist id="datalistOptions">
                        <option *ngFor="let item of products_all"  [value]="item.name">
                        </option>
                    </datalist>
                    
                    <button 
                    (click)="search()"
                    class="btn btn-primary pl-4 pr-4 font-size-13 height-45 border-radius-right" type="button" id="button-addon2">
                        Buscar
                    </button>
                </div>
            </form>
        </div>
        <div class="col-6 col-md-3 order-sm-3 text-right">
            <app-quotation></app-quotation>
        </div>
    </div>
</div>

  