 <header class="sticky-top">
        <div class="container-fluid p-0">
            <div class="row d-flex align-items-center">
                <div class="col-4 pl-0">
                    <a routerLink="/">
                        <img class="pt-1" src="assets/logo.svg">
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <div class="input-group mt-2">
                        <input type="text" class="form-control bg-grey font-size-13 height-45" 
                        placeholder="Busca tus productos aquí" aria-label="Recipient's username" 
                        aria-describedby="button-addon2">
                        <button class="btn btn-primary pl-4 pr-4 font-size-13 height-45 rounded-right" type="button" id="button-addon2">
                            Buscar
                        </button>
                    </div>
                </div>
                <div class="col-4">
                    <app-cart></app-cart>
                </div>
            </div>
        </div>
    </header>