
$primary:#0642B0;

@import "bootstrap";
body {
    
}
html {
    background: #eaeaea;
}



header {
    height: 94px;
    background: white;
}
.font-size-13{
    font-size: 13px;
}

.height-45 {
    height: 45px;
}

.bg-grey {
    background:#F1F1F1;
    
}

main {
    width: 100%;
    height: 80vh;
    background: #eaeaea;
}

ul.menu {
    padding: 0px;
    text-align: center;
    li {
        border: 1px solid #F1F1F1;
        border-radius: 5px;
        height: 145px;
        width: 145px;
        display: inline-block;
        background: #fff;
        text-align: center;
        vertical-align: top;
        margin: 4px 4px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        
      
        &:hover {
            i {
                animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
                animation-duration:0.5s;
            }
        }
        img {
            margin-top: 15px;
        }
        i {
            font-size: 50px;
            color: #0642B0;
           
        }
        span {
            position: absolute;
            bottom: 30px;
            left: 0px;
            display: inline-block;
            width: 100%;
            font-size: 11px;
            color: #6E6D6D;
            font-weight: bold;
        }
        &:hover {
            background: #f2f2f2;
        }
    }
    li:last-child {
        margin-bottom: 30px;
    }
    li:nth-child(1){
        margin-top: 0;
    }
    li:nth-child(2){
        margin-top: 0;
    }
}

.boxButtons {
    display: block;
    margin-top: 50px;
    button {
        margin: 0 auto;
        display: block;
    }
}

.boxCarro {
    border-radius:5px;
    padding: 5px 20px;
    display: inline-block;
    height: cal(60px - 16px);
    background:#0642B0;
    text-align: center;
    .total {
        color: #fff;
    }
}

.boxTotal {
    span {
        background: #fff;
        color:#0642B0;
        padding: 5px 10px;
        border-radius:5px;
    }
}

.banner {
    img {
        width: 100%;
    }
}
.boxScroll {
    height: 300px;
}

.detailsProduct {
    img {
        width: 100%;
    }
}


.ficha {
    color:#6E6D6D;
    h3 { font-size: 18px;}
    span {
        color:#C4C4C4;
        display: block;
    }
    p {
        color:#C4C4C4;
    }
}
.products {
    .product {
        display: inline-block;
        background: #fff;
        border-radius: 5px;
        border:1px solid #F1F1F1;
        height:auto;
        min-height: 300px;
        width:100%;
        position: relative;
        .img {
            width: 100%;
            cursor: pointer;
            img {
                width: 100%;
            }
        }
        .texts {
          
            bottom: 0px;
            width: 100%;
            left: 0px;
        }
        .price {
            margin-top: 20px;
            font-weight: bold;
            font-size: 14px;
            color:#6E6D6D;
        }
        .description {
            color:#C4C4C4;
            line-height: 18px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        
    }
}

.price2 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    color:#6E6D6D;
}

.add {
    margin-top: 20px;
    padding-left: 20px;
    span {
        line-height: 38px;
        display: inline-block;
        width: 65%;
        text-align: center;
        color:#6E6D6D;
        font-size: 14px;
    }
    background: #EFEFEF;
    height: 38px;
    width: 100%;
}

.add2 {
    margin-top: 20px;
    span {
        line-height: 38px;
        display: inline-block;
        width: 65%;
        text-align: center;
        color:#6E6D6D;
        font-size: 14px;
    }
    height: 38px;
    width: 100%;
}
.horizontal-wrapper button:last-child, .horizontal-wrapper button:first-child  { 
    border-radius: 0 !important;
}
.horizontal-wrapper{
    border-radius: 0.25rem !important;
}