.banner {
    img {
        width: 100%;
    }
}

.products {
    .product {
        display: inline-block;
        background: #fff;
        border-radius: 5px;
        border:1px solid #F1F1F1;
        height:auto;
        min-height: 300px;
        width:100%;
        position: relative;
        .img {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .texts {
          
            bottom: 0px;
            width: 100%;
            left: 0px;
        }
        .price {
            margin-top: 20px;
            font-weight: bold;
            font-size: 14px;
            color:#6E6D6D;
        }
        .description {
            color:#C4C4C4;
            line-height: 18px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .add {
            margin-top: 20px;
            padding-left: 20px;
            span {
                line-height: 38px;
                display: inline-block;
                width: 65%;
                text-align: center;
                color:#6E6D6D;
                font-size: 14px;
            }
            background: #EFEFEF;
            height: 38px;
            width: 100%;
        }
    }
}