<div class="row products" *ngIf="products" >
    <ng-container *ngFor="let item of products">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="product p-4" >
                <div class="img" (click)="getDetails(item.id)" data-toggle="modal" data-target="#exampleModal">
                    <img [src]="item.image">
                </div>
                <div class="texts">
                    <div class="price"  (click)="getDetails(item.id)" data-toggle="modal" data-target="#exampleModal">${{item.price_1}}</div>
                    <div class="description"  (click)="getDetails(item.id)" data-toggle="modal" data-target="#exampleModal">
                       {{item.name}}
                    </div>
                    <div class="add2">
                        <ngx-number-spinner
                        [value]="0"
                        (change)="change($event)" 
                        [min]="0">
                        </ngx-number-spinner>
                    </div>
                </div>
            </div>
    </div>
    </ng-container> 
</div>



  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content detailsProduct">
      <div class="modal-header d-none">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="product">
          <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6">
              <img [src]='product.image'>
          </div>
          <div class="col-12 col-md-6 ficha">
              <h3 class="mt-5">{{product.name}}</h3>
              <span class="mb-4">COD: {{product.sku}}</span>
              <!--description-->
              <div class="boxScroll overflow-auto" [innerHtml]="product.description  | safe:'html'"></div><!--/description-->
              <div class="texts">
                  <div class="row">
                      <div class="col-6">
                          <div class="price2 mt-4">Precio: ${{product.price_1}}</div>
                      </div>
                      <div class="col-6">
                          <div class="add2">
                            <ngx-number-spinner
                      
                            [value]="0"
                            (change)="change($event)" 
                            [min]="0">
                            </ngx-number-spinner>
                          </div>
                      </div>
                  </div>
              </div>
               
                  

          </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary d-none">Save changes</button>
      </div>
    </div>
  </div>
</div>